<div class="modal-invite">
  <div class="modal-invite__header">
    <span class="modal-invite__title"> Send an invite to a new member </span>
    <span class="modal-invite__underline"></span>
    <button
      class="modal-invite__close"
      id="close__invite"
      data-close="invite-member">
      Go Back
    </button>
  </div>
  <div class="modal-invite__content">
    <div class="modal-invite__email">
      <span>Email</span>
      <div class="modal-invite__send-email">
        <input type="email" placeholder="example@mail.com" />
        <button class="modal-invite__send-invite">Send Invite</button>
      </div>
    </div>
    <div class="modal-invite__members">
      <span class="modal-invite__members-heading">Members</span>
      <div class="modal-invite__member">
        <div class="modal-invite__member-info">
          <div class="modal-invite__member-about">
            <div class="modal-invite__member-picture">
              <img
                class="modal-invite__member-picture-img"
                src="pictures/member1.jpg"
                alt="member1-picture" />
            </div>
            <div class="modal-invite__member-details">
              <span class="modal-invite__member-name"> Upashna Gurung </span>
              <span class="modal-invite__member-email">
                upashna.gurun@example.com
              </span>
            </div>
          </div>
          <div class="modal-invite__member-manage">
            <div class="member-manage__trigger" data-roles-open="false">
              <span>Can edit</span>
              <svg
                width="13"
                height="8"
                viewBox="0 0 13 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.672852 0.73999L6.17285 5.73999L11.6729 0.73999"
                  stroke="black"
                  stroke-width="2" />
              </svg>
              <div class="member-roles">
                <span>
                  Can view
                  <svg
                    class="member-role-svg"
                    width="13"
                    height="8"
                    viewBox="0 0 13 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M0.672852 0.73999L6.17285 5.73999L11.6729 0.73999"
                      stroke="black"
                      stroke-width="2" />
                  </svg>
                </span>
                <span>
                  Can Change
                  <svg
                    class="member-role-svg"
                    width="13"
                    height="8"
                    viewBox="0 0 13 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M0.672852 0.73999L6.17285 5.73999L11.6729 0.73999"
                      stroke="black"
                      stroke-width="2" />
                  </svg>
                </span>
                <span>
                  Delete
                  <svg
                    class="member-role-svg"
                    width="13"
                    height="8"
                    viewBox="0 0 13 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M0.672852 0.73999L6.17285 5.73999L11.6729 0.73999"
                      stroke="black"
                      stroke-width="2" />
                  </svg>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-invite__member">
        <div class="modal-invite__member-info">
          <div class="modal-invite__member-about">
            <div class="modal-invite__member-picture">
              <img
                class="modal-invite__member-picture-img"
                src="pictures/member2.jpg"
                alt="member2-picture" />
            </div>
            <div class="modal-invite__member-details">
              <span class="modal-invite__member-name"> Jeremy Lee </span>
              <span class="modal-invite__member-email">
                jeremy.lee@example.com
              </span>
            </div>
          </div>
          <div class="modal-invite__member-manage">
            <div class="member-manage__trigger" data-roles-open="false">
              <span>Can edit</span>
              <svg
                width="13"
                height="8"
                viewBox="0 0 13 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.672852 0.73999L6.17285 5.73999L11.6729 0.73999"
                  stroke="black"
                  stroke-width="2" />
              </svg>
              <div class="member-roles">
                <span>
                  Can view
                  <svg
                    class="member-role-svg"
                    width="13"
                    height="8"
                    viewBox="0 0 13 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M0.672852 0.73999L6.17285 5.73999L11.6729 0.73999"
                      stroke="black"
                      stroke-width="2" />
                  </svg>
                </span>
                <span>
                  Can Change
                  <svg
                    class="member-role-svg"
                    width="13"
                    height="8"
                    viewBox="0 0 13 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M0.672852 0.73999L6.17285 5.73999L11.6729 0.73999"
                      stroke="black"
                      stroke-width="2" />
                  </svg>
                </span>
                <span>
                  Delete
                  <svg
                    class="member-role-svg"
                    width="13"
                    height="8"
                    viewBox="0 0 13 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M0.672852 0.73999L6.17285 5.73999L11.6729 0.73999"
                      stroke="black"
                      stroke-width="2" />
                  </svg>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-invite__member">
        <div class="modal-invite__member-info">
          <div class="modal-invite__member-about">
            <div class="modal-invite__member-picture">
              <img
                class="modal-invite__member-picture-img"
                src="pictures/member3.jpg"
                alt="member3-picture" />
            </div>
            <div class="modal-invite__member-details">
              <span class="modal-invite__member-name">Thomas Park</span>
              <span class="modal-invite__member-email">
                thomas.park@example.com
              </span>
            </div>
          </div>
          <div class="modal-invite__member-manage">
            <div class="member-manage__trigger" data-roles-open="false">
              <span>Can edit</span>
              <svg
                width="13"
                height="8"
                viewBox="0 0 13 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.672852 0.73999L6.17285 5.73999L11.6729 0.73999"
                  stroke="black"
                  stroke-width="2" />
              </svg>
              <div class="member-roles">
                <span>
                  Can view
                  <svg
                    class="member-role-svg"
                    width="13"
                    height="8"
                    viewBox="0 0 13 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M0.672852 0.73999L6.17285 5.73999L11.6729 0.73999"
                      stroke="black"
                      stroke-width="2" />
                  </svg>
                </span>
                <span>
                  Can Change
                  <svg
                    class="member-role-svg"
                    width="13"
                    height="8"
                    viewBox="0 0 13 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M0.672852 0.73999L6.17285 5.73999L11.6729 0.73999"
                      stroke="black"
                      stroke-width="2" />
                  </svg>
                </span>
                <span>
                  Delete
                  <svg
                    class="member-role-svg"
                    width="13"
                    height="8"
                    viewBox="0 0 13 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M0.672852 0.73999L6.17285 5.73999L11.6729 0.73999"
                      stroke="black"
                      stroke-width="2" />
                  </svg>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-invite__member">
        <div class="modal-invite__member-info">
          <div class="modal-invite__member-about">
            <div class="modal-invite__member-picture">
              <img
                class="modal-invite__member-picture-img"
                src="pictures/member4.jpg"
                alt="member4-picture" />
            </div>
            <div class="modal-invite__member-details">
              <span class="modal-invite__member-name"> Rachel Takashi </span>
              <span class="modal-invite__member-email">
                rachel.takashi@example.com
              </span>
            </div>
          </div>
          <div class="modal-invite__member-manage">
            <div class="member-manage__trigger" data-roles-open="false">
              <span>Can edit</span>
              <svg
                width="13"
                height="8"
                viewBox="0 0 13 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.672852 0.73999L6.17285 5.73999L11.6729 0.73999"
                  stroke="black"
                  stroke-width="2" />
              </svg>
              <div class="member-roles">
                <span>
                  Can view
                  <svg
                    class="member-role-svg"
                    width="13"
                    height="8"
                    viewBox="0 0 13 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M0.672852 0.73999L6.17285 5.73999L11.6729 0.73999"
                      stroke="black"
                      stroke-width="2" />
                  </svg>
                </span>
                <span>
                  Can Change
                  <svg
                    class="member-role-svg"
                    width="13"
                    height="8"
                    viewBox="0 0 13 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M0.672852 0.73999L6.17285 5.73999L11.6729 0.73999"
                      stroke="black"
                      stroke-width="2" />
                  </svg>
                </span>
                <span>
                  Delete
                  <svg
                    class="member-role-svg"
                    width="13"
                    height="8"
                    viewBox="0 0 13 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M0.672852 0.73999L6.17285 5.73999L11.6729 0.73999"
                      stroke="black"
                      stroke-width="2" />
                  </svg>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-invite__project-link">
      <span>Project Link</span>
      <div class="modal-invite__project-info">
        <input class="modal-invite__project-link-input" type="text" />
        <button class="modal-invite__share-project-link">Copy Link</button>
      </div>
    </div>
  </div>
</div>
