*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  font-family: "Inter", sans-serif;
}

:root {
  --color-primary: #ff4d6d;
  --color-primary-light: #e2dbcf55;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-accent: #5d72ee;
  --color-shadow: rgba(0, 0, 0, 0.2);
  --color-border-main: #ced4da;
  --color-moderate: #3f37c9;
  --color-progress: #c1121f;
  --color-progress-completed: #e6e6e6;
  --color-circle-completed: #29bf12;
  --color-circle-in-progress: #1a30f5;
  --color-circle-not-started: #fc0303;
  --box-shadow: 0 4px 14px -10px rgba(0, 0, 0, 0.2);
  --color-header: #f8f8f8;
}

html {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 56px;
}

html,
body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: var(--color-header);
  justify-content: space-between;
  padding: 8px 90px;
  box-shadow: 0 13px 14px -10px var(--color-shadow);
  margin: 0;
}

.header__title {
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title-text {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.header__highlight {
  color: var(--color-primary);
}

.search {
  display: flex;
  max-width: 500px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: var(--color-white);
  filter: drop-shadow(0 2px 4px var(--color-shadow));
}

.search__input {
  flex: 1;
  padding: 0 10px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-weight: 600;
  opacity: 0.5;
}

.search__button {
  position: relative;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  background-color: var(--color-white);
  transition: background-color 0.3s;
}

.search__button .search__icon-bg {
  fill: var(--color-primary);
  transition: fill 0.3s;
}

.search__button .search__icon-path {
  transition: fill 0.3s;
}

.search__button:hover .search__icon-bg {
  fill: var(--color-white);
}

.search__button:hover .search__icon-path {
  fill: var(--color-primary);
}

.search__icon {
  width: 36px;
  height: 36px;
  object-fit: cover;
}

.organizer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}

.organizer__tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 74px;
  height: 38px;
}

.organizer__notification {
  border-radius: 8px;
  background-color: var(--color-primary);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.organizer__notification svg path {
  transition: fill 0.3s;
  fill: var(--color-white);
}

.organizer__notification:hover {
  background-color: var(--color-white);
}

.organizer__notification:hover svg path {
  fill: var(--color-primary);
}

.organizer__notification svg rect {
  fill: none;
  transition: fill 0.3s;
}

.organizer__calendar {
  border-radius: 8px;
  background-color: var(--color-primary);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.organizer__calendar svg path {
  transition: fill 0.3s;
  fill: var(--color-white);
}

.organizer__calendar:hover {
  background-color: var(--color-white);
}

.organizer__calendar:hover svg path {
  fill: var(--color-primary);
}

.organizer__calendar svg rect {
  fill: none;
  transition: fill 0.3s;
}

.organizer__date {
  font-weight: 500;
}

.organizer__day {
  color: var(--color-accent);
}

.organizer__full-date {
  font-weight: 500;
  color: var(--color-black);
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 0;
  height: auto;
}

.sidebar {
  height: 100%;
  max-width: 300px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 10px;
  border-radius: 5px;
  background-color: var(--color-primary);
  box-shadow: 8px 3px 10px -2px var(--color-shadow);

  @media screen and (max-width: 1095px) {
    position: fixed;
    top: 0;
    left: -320px;
    height: 100%;
    width: 300px;
    transition: left 0.3s;
    z-index: 1050;
  }
}

.sidebar__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sidebar__user-info {
  position: relative;
  top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--color-white);
}

.sidebar__user-avatar {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  overflow: hidden;
}

.sidebar__user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar__user-name {
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: 600;
}

.sidebar__user-mail {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.sidebar__nav {
  font-size: 16px;
  font-weight: 500;
}

.sidebar__list {
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
}

.sidebar__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 10px;
  padding: 10px 30px;
  border-radius: 14px;
  color: var(--color-white);
  gap: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar__item-icon {
  color: #ffffff;
  transition: background-color 0.3s;
  cursor: pointer;
}

.sidebar__item:hover .sidebar__item-icon {
  fill: var(--color-primary);
  color: var(--color-primary);
}

.sidebar__item:hover {
  color: var(--color-primary);
  background-color: var(--color-white);
}

.sidebar__item button {
  all: unset;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.sidebar__item--selected {
  color: var(--color-primary);
  background-color: var(--color-white);
}

.sidebar__item--selected .sidebar__item-icon {
  fill: var(--color-primary);
  color: var(--color-primary);
}

.content {
  position: relative;
  flex-grow: 1;
  height: 100%;
  margin: 0 30px 0 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.greetings {
  height: 42px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

.greetings__text p {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.greetings__bar {
  display: flex;
  gap: 10px;
}

.greetings__invites {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.greetings__profiles {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 6px;
}

.last-picture {
  width: 38px;
  height: 38px;
  border-radius: 10px;
  backdrop-filter: sepia(90%);
}

.greetings__button button {
  width: 100px;
  height: 38px;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  cursor: pointer;
  padding: 0;
  transition: background-color 0.3s;
  border-radius: 8px;
  color: var(--color-primary);
}

.greetings__button button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.content__frame {
  display: flex;
  flex: 1;
  justify-content: space-around;
  gap: 20px;
  padding: 18px 28px;
  margin-bottom: 40px;
  background: var(--color-white);
  border: 1px solid var(--color-border-main);
  box-shadow: -4px 8px 10px var(--color-shadow),
    4px 8px 10px var(--color-shadow);
}

.task {
  flex: 1;
  border: 1px solid var(--color-white);
  border-radius: 10px;
}

.task__active {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;
  padding: 18px 26px;
  background: var(--color-white);
  box-shadow: -4px 4px 4px var(--color-shadow), 4px 4px 4px var(--color-shadow);
}

.task__status {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
}

.status,
.completed {
  /*border: 1px solid var(--color-border-main);*/
  border-radius: 10px;
  box-shadow: -4px 4px 4px var(--color-shadow), 4px 4px 4px var(--color-shadow);
}

.heading__manage {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
}

.manage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.heading__date {
  display: flex;
  gap: 20px;
  font-size: 12px;
  font-weight: 400;
}

.heading__date ul {
  margin: 0;
  padding: 0 0 0 20px;
  opacity: 0.5;
}

.manage--to-do {
  color: var(--color-primary);
}

.manage--add-task {
  margin: 0 12px;
}

.manage--add-task p {
  display: flex;
  align-items: center;
  white-space: nowrap;
  opacity: 0.5;
}

.task__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 16px;
}

.content__load {
  display: flex;
  justify-content: center;
  border: 1px solid var(--color-border-main);
  border-radius: 10px;
}

.load__circle {
  display: flex;
  width: 14px;
  height: 14px;
  margin: 12px 6px;
}

.load__describe {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 16px 8px 0;
  padding-top: 14px;
}

.describe__heading {
  font-size: 16px;
  font-weight: 600;
  overflow-wrap: break-word;
}

.describe__information {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 14px;
  font-weight: 400;
}

.describe__information p {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  opacity: 0.8;
}

.describe__footer {
  display: flex;
  justify-content: space-between;
}

.moderate {
  color: var(--color-moderate);
}

.footer__status--progress {
  color: var(--color-progress);
}

.footer__create-date {
  opacity: 0.5;
}

p {
  margin: 0;
}

.status {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 18px 26px;
}

.status__heading {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-primary);
}

.status__content {
  display: flex;
  justify-content: space-around;
}

.status__content > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.progress__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress__container {
  position: relative;
  width: 100px;
  height: 100px;
}

.progress__circle {
  transform: rotate(-30deg);
}

.progress__bg {
  fill: none;
  stroke: var(--color-progress-completed);
  stroke-width: 10;
}

.progress__value {
  fill: none;
  stroke-width: 10;
  stroke-dasharray: 283;
  stroke-dashoffset: 283;
  transition: stroke-dashoffset 0.5s;
}

.progress--completed .progress__value {
  stroke: var(--color-circle-completed);
}

.progress--inprog .progress__value {
  stroke: var(--color-circle-in-progress);
}

.progress--notstarted .progress__value {
  stroke: var(--color-circle-not-started);
}

.progress__percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 500;
}

.progress__text {
  position: relative;
  padding-left: 1.2em;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
}

.progress__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
}

.progress--completed .progress__text::before {
  background-color: var(--color-circle-completed);
}

.progress--inprog .progress__text::before {
  background-color: var(--color-circle-in-progress);
}

.progress--notstarted .progress__text::before {
  background-color: var(--color-circle-not-started);
}

.completed {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 15px;
  padding: 18px 26px;
}

.completed__task {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.completed__heading {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  color: var(--color-primary);
  font-size: 15px;
  font-weight: 500;
}
