@use 'variables' as *; 

.account__settings {
  height: calc(100% - 20px);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  margin: 0 90px 0 30px;
  padding: 16px 30px;
  border: 1px solid $color-border-main;
  border-radius: 10px;
  box-shadow: -4px 4px 4px $color-shadow, 4px 4px 4px $color-shadow;
}

.account__header {
  display: flex;
  justify-content: space-between;
}

.account__header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.account__underline {
  height: 2px;
  width: 160px;
  background-color: $color-primary;
  border-radius: 4px;
  position: absolute;
  transform: translateY(1500%);
}

.account__information {
  display: flex;
  align-items: center;
  gap: 20px;
}

.account__user-name {
  font-size: 20px;
  font-weight: 600;
}

.account__user-mail {
  font-size: 15px;
  font-weight: 400;
}

.account__edit-information {
  border: 1px solid $color-border-main;
  border-radius: 10px;
  padding: 20px 30px;
}

.account__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.account__form input {
  max-width: 500px;
  min-height: 30px;
  border: 1px solid $color-border-main;
  border-radius: 6px;
}

.account__form label {
  font-size: 14px;
  font-weight: 600;
}
