@use 'variables' as *; 

.settings {
  width: 100%;
  height: 100%;

  @media screen and (max-width: 2560px) {
    max-width: 2000px;
  }
}

.settings__underline {
  height: 2px;
  width: 90px;
  background-color: $color-primary;
  border-radius: 4px;
  position: absolute;
  transform: translateY(1500%);
}

.settings__information {
  height: calc(100% - 20px);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 30px;
  margin: 0 90px 0 30px;
  padding: 16px 30px;
  border: 1px solid $color-border-main;
  border-radius: 10px;
  box-shadow: -4px 4px 4px $color-shadow, 4px 4px 4px $color-shadow;
}

.settings__user-name {
  font-size: 20px;
  font-weight: 600;
}

.settings__user-mail {
  font-size: 15px;
  font-weight: 400;
}

.settings__profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.settings__profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.settings__profile-picture img:hover {
  opacity: 0.4;
}

.settings__header {
  display: flex;
  justify-content: space-between;
}

.settings__header h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

.settings__account {
  display: flex;
  align-items: center;
  gap: 20px;
}

.settings__password {
  border: 1px solid $color-border-main;
  border-radius: 10px;
  padding: 20px 30px;
}

.settings__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings__form input {
  max-width: 500px;
  min-height: 30px;
  border: 1px solid $color-border-main;
  border-radius: 6px;
}

.settings__form label {
  font-size: 14px;
  font-weight: 600;
}

.settings__buttons {
  margin-top: 20px;
}

.settings__buttons button {
  font-size: 14px;
  font-weight: 500;
  color: $color-white;
  background-color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

.settings__buttons button:hover {
  background-color: $color-white;
  color: $color-primary;
  border-color: $color-primary;
}