@use 'variables' as *; 

.content {
  position: relative;
  flex-grow: 1;
  height: 100%;
  margin: 0 90px 0 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media screen and (max-width: 1140px) {
    gap: 10px;
    margin: 0;
  }
}

p {
  margin: 0;
}

/* greetings */
.greetings {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  transition: transform 0.5s ease;

  @media screen and (max-width: 1067px) {
    justify-content: center;
    gap: 30px;
  }

  @media screen and (max-width: 820px) {
    flex-direction: column;
  }
}

/* greetings bar */
.greetings__bar {
  display: flex;
  gap: 10px;
}

.greetings__text p {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.greetings__hand {
  @media screen and (max-width: 495px) {
    display: none;
  }
}

.greetings__invites {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.greetings__profiles {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  gap: 6px;
}

.last-picture {
  width: 38px;
  height: 38px;
  border-radius: 10px;
  backdrop-filter: sepia(90%);
}

.greetings__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greetings__button button {
  width: 100px;
  height: 38px;
  background-color: transparent;
  border: 1px solid $color-primary;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  padding: 0;
  transition: background-color 0.3s;
  border-radius: 8px;
  color: $color-primary;
}

.greetings__button button:hover {
  background-color: $color-primary;
  color: $color-white;
}

/* content frame */
.content__frame {
  display: flex;
  flex: 1;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 16px;
  background: $color-white;
  transition: transform 0.5s ease;

  @media screen and (max-width: 1067px) {
    flex-direction: column;
    align-items: center;
    border: none;
    box-shadow: none;
  }
}

// left side
.task__active {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;
  padding: 18px 26px;
  background: $color-white;
  box-shadow: -4px 4px 4px $color-shadow, 4px 4px 4px $color-shadow;
}

.heading__manage {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
}

.manage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.heading__date {
  display: flex;
  gap: 20px;
  font-size: 12px;
  font-weight: 400;
}

.heading__date ul {
  margin: 0;
  padding: 0 0 0 20px;
  opacity: 0.5;
}

.manage--to-do {
  color: $color-primary;
}

/* dashboard task list */
.dashboard-task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  max-height: 65vh;
  overflow-y: auto;
  padding-right: 8px;
}

.dashboard-task-list::-webkit-scrollbar {
  width: 6px;
}

.dashboard-task-list::-webkit-scrollbar-thumb {
  background: $color-primary;
  border-radius: 10px;
}

.dashboard-task-list::-webkit-scrollbar-track {
  background: transparent;
}

/* task footer completed */
.task__footer--completed {
  display: flex;
  flex-direction: column;
}

.task__status--completed,
.task__date--completed {
  width: 100%;
}

/* task image completed */
.task__image--completed {
  width: 88px;
  height: 88px;
  border-radius: 10px;
  object-fit: cover;
}

// right side
.task__status__INDEX {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;

  @media screen and (max-width: 1067px) {
    padding: 18px;
    border: 1px solid $color-shadow;
    box-shadow: -4px 4px 4px $color-shadow,
      4px 4px 4px $color-shadow;
  }
}

.status,
.completed {
  border-radius: 10px;
  box-shadow: -4px 4px 4px $color-shadow, 4px 4px 4px $color-shadow;
}

.status {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 18px 26px;
}

.status__heading {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 500;
  color: $color-primary;
}

.status__content {
  display: flex;
  justify-content: space-around;
  gap: 10px;

  @media screen and (max-width: 545px) {
    flex-direction: column;
    align-items: center;
  }
}

.status__content > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.completed {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 15px;
  padding: 18px 26px;
}

.completed__task {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.completed__heading {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  color: $color-primary;
  font-size: 15px;
  font-weight: 500;
}

.completed__task {
  overflow-y: auto;
  max-height: 44vh;
  padding-right: 8px;
}

.completed__task::-webkit-scrollbar {
  width: 6px;
}

.completed__task::-webkit-scrollbar-thumb {
  background: $color-primary;
  border-radius: 10px;
}

.completed__task::-webkit-scrollbar-track {
  background: transparent;
}

/* task progress */
.progress__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress__container {
  position: relative;
  width: 100px;
  height: 100px;
}

.progress__circle {
  transform: rotate(-30deg);
}

.progress__bg {
  fill: none;
  stroke: $color-progress-completed;
  stroke-width: 10;
}

.progress__value {
  fill: none;
  stroke-width: 10;
  stroke-dasharray: 283;
  stroke-dashoffset: 283;
  transition: stroke-dashoffset 0.5s;
}

.progress--completed .progress__value {
  stroke: $color-circle-completed;
}

.progress--inprog .progress__value {
  stroke: $color-circle-in-progress;
}

.progress--notstarted .progress__value {
  stroke: $color-circle-not-started;
}

.progress__percent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 500;
}

.progress__text {
  position: relative;
  padding-left: 1.2em;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 500;
}

.progress__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
}

.progress--completed .progress__text::before {
  background-color: $color-circle-completed;
}

.progress--inprog .progress__text::before {
  background-color: $color-circle-in-progress;
}

.progress--notstarted .progress__text::before {
  background-color: $color-circle-not-started;
}

/* modal */
.priority-radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 16px;
  height: 16px;
  border: 1px solid $color-border-main;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

.priority-radio:checked {
  background-color: $color-primary;
  border-color: currentColor;
}