@use 'variables' as*;

.create-categories {
    height: calc(100% - 20px);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;

    border: 1px solid $color-border-main;
    border-radius: 10px;

    box-shadow: -4px 4px 4px $color-shadow, 4px 4px 4px $color-shadow;
    
    margin: 0 90px 0 30px;
    padding: 16px 24px;

    @media screen and (max-width: 1140px) {
        margin: 0;
    }
}

.create-categories__header {
    display: flex;
    justify-content: space-between;
}

.create-categories__header span {
    font-size: 24px;
    font-weight: 600;
}

.create-categories__header-line {
    height: 2px;
    width: 50px;
    background-color: $color-primary;
    border-radius: 4px;
    position: absolute;
    transform: translateY(1400%);
}

.create-categories__field {
    display: flex;
    flex-direction: column;
    gap: 6px;

    font-size: 14px;
    font-weight: 600;
}

.create-categories__field input {
    max-width: 512px;
    height: 38px;
    border: 1px solid $color-border-main;
    border-radius: 10px;
}

.create-categories__manager button {
    background-color: $color-primary;
    color: $color-white;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px 36px;
    font-size: 14px;
    font-weight: 500;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.create-categories__manager button:hover {
    background-color: $color-white;
    border-color: $color-primary;
    color: $color-primary;
    
}