@use 'variables' as *; 

.custom-upload-button {
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 10px;
  background-color: $color-white;
  border: 1px solid $color-border-main;
  border-radius: 6px;
  padding: 14px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease;
}

.custom-upload-button:hover {
  background-color: $color-header;
}

.custom-upload-button input[type="file"] {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.upload-text {
  font-size: 13px;
  font-weight: 400;
  opacity: 0.6;
}

.custom-upload-button {
  height: 200px;
  width: 232px;

  @media screen and (max-width: 950px) {
    width: 100%;
  }
}

.close__add-task {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
}