@use 'variables' as *; 

.ham__menu {
  height: 40px;
  width: 40px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.ham__menu span {
  height: 4px;
  width: 100%;
  background-color: $color-primary;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
}

.ham__menu span:nth-child(1) {
  top: 25%;
}

.ham__menu span:nth-child(3) {
  top: 75%;
}

.ham__menu.active {
  border: 2px solid $color-primary;
}

.ham__menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ham__menu.active span:nth-child(2) {
  opacity: 0;
}
.ham__menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}