@use 'variables' as *; 
@use '_custom-upload-btn.scss';

.add-task {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  border: none;
  gap: 5px;
  cursor: pointer;
}

.add-task:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  color: #f24e1e;
}

.add-task svg {
  transition: transform 0.3s ease;
}

.add-task:hover svg {
  transform: rotate(180deg);
}

.add-task span {
  display: flex;
  align-self: center;
  opacity: 0.6;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1001;
  overflow-y: auto;

  @media screen and (max-height: 900px) {
    align-items: flex-start;
    padding-top: 20px;
  }
}

.modal-container.show {
  pointer-events: auto;
  opacity: 1;
}

.modal--add--task {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 918px;
  max-width: 100%;
  border-radius: 5px;
  background-color: $color-white;
  padding: 40px 60px;

  @media screen and (max-width: 950px) {
    padding: 10px 18px;
    width: 570px;
  }

  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.modal__heading {
  display: flex;
  justify-content: space-between;
}

.add-new-task__title {
  font-size: 16px;
  font-weight: 600;
}

.add-new-task__underline {
  height: 2px;
  width: 90px;
  background-color: $color-primary;
  border-radius: 4px;
  position: absolute;
  transform: translateY(1000%);
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.modal__title,
.modal__date {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
}

#task-title,
#task-create-date {
  max-width: 500px;
  height: 34px;
  border: 1px solid $color-border-main;
  border-radius: 6px;
  padding: 8px;
}

.modal__priority {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal__priority-label {
  font-size: 14px;
  font-weight: 600;
}

.modal__priority div {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.6;

  @media screen and (max-width: 950px) {
    justify-content: space-between;
    gap: 10px;
  }

  @media screen and (max-width: 420px) {
    flex-direction: column;
  }
}

.modal__priority label {
  display: flex;
  align-items: center;
}

.modal__priority input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.extreme-priority,
.moderate-priority,
.low-priority {
  display: flex;
  align-items: center;
  gap: 6px;
}

.modal__footer {
  display: flex;
  gap: 30px;

  @media screen and (max-width: 950px) {
    flex-direction: column;
  }
}

.modal__footer label {
  font-size: 14px;
  font-weight: 600;
}

.footer__task-description,
.footer__upload-image {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
}

.task-description {
  width: 500px;
  max-width: 550px;
  height: 200px;
  border: 1px solid $color-border-main;
  border-radius: 6px;
  padding: 8px;

  @media screen and (max-width: 580px) {
    width: 100%;
    min-width: 100%;
  }
}

.task-description::placeholder {
  font-size: 13px;
  font-weight: 400;
}

.custom-file-input {
  display: flex;
  width: 232px;
  height: 200px;
  border: 1px solid $color-border-main;
  border-radius: 6px;
}

/* бар загрузки фото */

.custom-upload-button {
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 10px;
  background-color: $color-white;
  border: 1px solid $color-border-main;
  border-radius: 6px;
  padding: 14px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease;
}

.custom-upload-button:hover {
  background-color: $color-header;
}

.custom-upload-button input[type="file"] {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.upload-text {
  font-size: 13px;
  font-weight: 400;
  opacity: 0.6;
}

.custom-upload-button {
  height: 200px;
  width: 232px;

  @media screen and (max-width: 950px) {
    width: 100%;
  }
}

.close__add-task {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
}

.modal__border {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid $color-border-main;
  padding: 16px;
}

.modal__submit {
  width: 90px;
  height: 34px;
  background-color: $color-primary;
  color: $color-white;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 6px;
}

.modal__submit:hover {
  background-color: $color-white;
  color: $color-primary;
  border: 1px solid $color-primary;
}
