@use 'variables' as *; 


.login-form-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-primary;
}

.background-image {
  background-image: url(/pictures/background.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.3;
  z-index: -1000;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 46px 70px;
  border-radius: 10px;
  background-color: $color-white;

  @media screen and (max-width: 1050px) {
    padding: 20px 30px;
  }
}

.sign-in-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sign-in {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-signup-input {
  border-radius: 10px;
  width: 560px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid $color-black;

  @media screen and (max-width: 622px) {
    width: 100%;
  }
}

.uname-input {
  background-image: url(/pictures/signInIcon1.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px 20px;
  padding-left: 40px;
}

.psw-input {
  background-image: url(/pictures/signInIcon2.svg);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px 20px;
  padding-left: 40px;
}

.login-picture {
  transform: translateY(14%);

  @media screen and (max-width: 1050px) {
    display: none;
  }
}

.login-picture img {
  width: 340px;
  height: 340px;
}

.sign-in-up-text {
  font-size: 36px;
  font-weight: 700;
  color: $color-black;
}

input::placeholder {
  font-weight: 500;
  opacity: 0.5;
  color: $color-black;
}

.remember-me {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: $color-black;
  gap: 6px;
}

.login-button {
  width: 129px;
  height: 60px;
  background-color: $color-primary;
  border: none;
  border-radius: 10px;
  color: $color-white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.login-button:hover {
  background-color: $color-white;
  color: $color-primary;
  border: 1px solid $color-primary;
}

.login-optional {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons img {
  width: 28px;
  height: 28px;
  object-fit: cover;
}

.social-icons img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.create-account {
  text-decoration: none;
  cursor: pointer;
  color: $color-circle-in-progress;
}

.create-account:hover {
  text-decoration: underline;
  color: $color-primary;
}