@use 'variables' as *;

.task__actions {
    display: none;
    flex-direction: column;
    gap: 4px;
    background-color: $color-white;
    padding: 8px;
    border: 1px solid $color-border-main;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    
    position: absolute;

    &.show {
        display: flex;
        position: fixed;
    }

    &.open-up {
        top: auto;
        bottom: 10;
        margin-top: 0;
    }
}

.task__button {
    background-color: $color-white;
    border: 1px solid $color-primary;
    color: $color-primary;
    font-size: 14px;
    font-weight: 500;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
        background-color: $color-primary;
        color: $color-white;
    }
}