@use 'variables' as *; 


.todo__page {
  @media screen and (max-width: 2560px) {
    max-width: 2000px;
  }
}

.to-do__content {
  display: flex;
  flex-grow: 1;
  height: 100%;
  margin: 0 90px 0 30px;
  padding-bottom: 16px;
  gap: 20px;

  @media screen and (max-width: 1140px) {
    margin: 0;
  }

  @media screen and (max-width: 870px) {
    flex-direction: column;
    align-items: center;
  }
}

.small-description,
.more-description {
  box-shadow: -4px 4px 4px $color-shadow, 4px 4px 4px $color-shadow;
}

.small-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  border: 1px solid $color-border-main;
  border-radius: 10px;
  padding: 20px 20px 0 20px;

  @media screen and (max-width: 870px) {
    width: 100%;
    padding: 20px;
  }
}

.small-description__tittle {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

.my-task__underline {
  height: 2px;
  width: 30px;
  background-color: $color-primary;
  border-radius: 4px;
  position: absolute;
  transform: translateY(1000%);
}

.more-description {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid $color-border-main;
  border-radius: 10px;
  padding: 20px;
  gap: 10px;

  @media screen and (max-width: 870px) {
    width: 100%;
  }
}

.more-description__item {
  display: flex;
  gap: 10px;
}

.more-description__photo {
  width: 158px;
  height: 158px;
  border-radius: 10px;
}

.more-description__text--small {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.more-description__text--small h2 {
  font-size: 16px;
  font-weight: 600;
}

.more-description__text--small span {
  color: $color-circle-not-started;
}

.more-description__text--small p:nth-child(2),
.more-description__text--small p:nth-child(3) {
  font-size: 12px;
  font-weight: 400;
}

.more-description__text--small p:nth-child(4) {
  font-size: 10px;
  font-weight: 400;
  opacity: 0.6;
}

.more-description p {
  font-size: 16px;
  font-weight: 400;
}

.more-description__list {
  margin: 0;
  padding-left: 30px;
}

.more-description__text--large {
  display: flex;
  flex-direction: column;
  gap: 4px;
  opacity: 0.7;
}

.more-description__button {
  width: 34px;
  height: 34px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.more-description__tools {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  margin-top: auto;
}

.more-description__button svg {
  transform: translate(-16%, -6%);
}

.more-description__button rect {
  transition: fill 0.3s;
}

.more-description__button svg path {
  transition: fill 0.3s;
}

.more-description__button:hover {
  background-color: $color-white;
}

.more-description__button:hover rect {
  fill: $color-white;
}

.more-description__button:hover svg path {
  fill: $color-primary;
}