@use 'variables' as *; 


.todo__page {
  @media screen and (max-width: 2560px) {
    max-width: 2000px;
  }
}

.to-do__content {
  display: flex;
  flex-grow: 1;
  height: 100%;
  margin: 0 90px 0 30px;
  padding-bottom: 16px;
  gap: 20px;

  @media screen and (max-width: 1140px) {
    margin: 0;
  }

  @media screen and (max-width: 870px) {
    flex-direction: column;
    align-items: center;
  }
}

.small-description,
.task-details {
  box-shadow: -4px 4px 4px $color-shadow, 4px 4px 4px $color-shadow;
}

.small-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  border: 1px solid $color-border-main;
  border-radius: 10px;
  padding: 20px 20px 0 20px;

  @media screen and (max-width: 870px) {
    width: 100%;
    padding: 20px;
  }
}

.small-description__tittle {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

.my-task__underline {
  height: 2px;
  width: 30px;
  background-color: $color-primary;
  border-radius: 4px;
  position: absolute;
  transform: translateY(1000%);
}

.tasks-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* no selected task */
.task-details__greetings {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

.task-details__underline {
  height: 2px;
  width: 60px;
  background-color: $color-primary;
  border-radius: 4px;
  position: absolute;
  transform: translateY(1000%);
}

.task-details {
  width: 50%;
  padding: 20px;

  border: 1px solid $color-border-main;
  border-radius: 10px;
  
  display: flex;
  
  @media screen and (max-width: 870px) {
    width: 100%;
    flex-grow: 1;
  }
}


/* section task details */
.task-details__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  
  padding: 20px;
  gap: 10px;

  
}

/* header of section task details */
.task-details__header {
  display: flex;
  gap: 10px;
}

.task-details__image {
  width: 158px;
  height: 158px;
  border-radius: 10px;
}

.task-details__meta {
  margin-top: auto;
}

.task-details__meta p + p {
  margin-top: 8px;
}

.task-details__title {
  font-size: 16px;
  font-weight: 600;
}

.task-details__priority,
.task-details__status {
  font-size: 12px;
  font-weight: 400;
}

.task-details__date {
  font-size: 10px;
  font-weight: 400;
  opacity: 0.8;
}

/* content task details */

.task-details__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 24;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* footer task details  */
.task-details__actions {
  display: flex;
  gap: 10px;
  margin-top: auto;
  margin-left: auto;
}

.task-details__button {
  width: 34px;
  height: 34px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.task-details__button svg {
  transform: translate(-16%, -6%);
}

.task-details__button rect {
  transition: fill 0.3s;
}

.task-details__button svg path {
  transition: fill 0.3s;
}

.task-details__button:hover {
  background-color: $color-white;
}

.task-details__button:hover rect {
  fill: $color-white;
}

.task-details__button:hover svg path {
  fill: $color-primary;
}