$color-primary: #ff4d6d;
$color-primary-light: #e2dbcf55;
$color-white: #ffffff;
$color-black: #000000;
$color-accent: #5d72ee;

$color-shadow: rgba(0, 0, 0, 0.2);
$color-border-main: #ced4da;

$color-moderate: #3f37c9;
$color-progress: #c1121f;
$color-low: #38b000;

$color-progress-completed: #e6e6e6;
$color-circle-completed: #29bf12;
$color-circle-in-progress: #1a30f5;
$color-circle-not-started: #fc0303;

$color-header: #f8f8f8;
$color-overlay: rgba(0, 0, 0, 0.5);
$color-grey-text: #8c8c8c;
$color-checked: #262626;

$box-shadow: 0 4px 14px -10px rgba(0, 0, 0, 0.2);