@use 'variables' as *; 

.view-task {
    height: calc(100% - 20px);

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;

    border: 1px solid $color-border-main;
    margin: 0 90px 0 30px; 
    padding: 16px 30px 30px 30px;

    border-radius: 10px;

    box-shadow: -4px 4px 4px $color-shadow, 4px 4px 4px $color-shadow;

    @media screen and (max-height: 1140px) {
    padding: 16px;
    margin: 0 30px;
  }
}

.view-task__header {
    display: flex;
    gap: 20px;
}

.header-img {
    width: 210px;
    height: 216px;
    border-radius: 10px;

    @media screen and (max-width: 670px) {
        width: 100px;
        height: 100px;
    }

    @media screen and (max-width: 565px) {
        display: none;
    }
}

.view-task__header-description {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    @media screen and (max-width: 460px) {
        flex-direction: column;
        align-items: flex-start;   
    
    }
}

.header-description {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media screen and (max-width: 465px) {
        display: none;
    }
}

.header-description p:nth-child(1) {
    font-size: 24px;
    font-weight: 600;
    color: $color-black;
}

.header-description p:nth-child(2),
.header-description p:nth-child(3) {
    font-size: 12px;
    font-weight: 400;
}

.header-description p:nth-child(4) {
    font-size: 10px;
    font-weight: 400;
    opacity: 0.6;
}

.header-description span {
    color: $color-circle-not-started;
}

.view-task__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0.8;
}

.view-task__footer {
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end;   
    gap: 10px;
    margin-top: auto; 
}


.view-task__footer button {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 0;
}

.view-task__footer button svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.view-task__footer button rect {
    transition: fill 0.3s;
}

.view-task__footer button svg path {
    transition: fill 0.3s;
  
}

.view-task__footer button:hover {
    background-color: $color-white;
}

.view-task__footer button:hover rect {
    fill: $color-white;
}

.view-task__footer button:hover svg path {
    fill: $color-primary;
}

.edit-task__underline {
    height: 2px;
    width: 40px;
    background-color: $color-primary;
    border-radius: 4px;
    position: absolute;
    transform: translateY(1000%);
}