@use 'variables' as *; 

.view-task {
    height: calc(100% - 20px);

    display: flex; /*!*/
    flex-direction: column; /*!*/
    flex-grow: 1; /*!*/
    gap: 20px; /*!*/

    border: 1px solid $color-border-main;
    margin: 0 90px 0px 30px; 
    padding: 16px 30px 30px 30px;

    border-radius: 10px;

    box-shadow: -4px 4px 4px $color-shadow, 4px 4px 4px $color-shadow;

    @media screen and (max-width: 1140px) {
    padding: 16px;
    margin: 0 30px;
  }
}

/* header view task */
.view-task__header {
    display: flex;
    gap: 20px;
}

.view-task__header-img {
    width: 210px;
    height: 216px;
    border-radius: 10px;

    @media screen and (max-width: 670px) {
        width: 100px;
        height: 100px;
    }

    @media screen and (max-width: 565px) {
        display: none;
    }
}

.view-task__meta {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.view-task__title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.view-task__priority,
.view-task__status {
    font-size: 12px;
    font-weight: 400;
}

.view-task__date {
    font-size: 10px;
    font-weight: 400;
    opacity: 0.8;
}

.view-task__back {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;

   
    margin-left: auto;
    margin-bottom: auto;
}

.view-task__priority--extreme {
  color: $color-circle-not-started;
}

.view-task__priority--low {
  color: $color-circle-completed;
}

.view-task__status--not-started {
  color: $color-circle-not-started;
}

.view-task__status--in-progress {
  color: $color-moderate;
}

.view-task__priority--moderate {
  color: $color-moderate;
}

/* content view task */
.view-task__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 400;
}

/* footer view task */
.view-task__actions {
    display: flex;
    gap: 12px;
    margin-top: auto;
    margin-left: auto;
}

.view-task__button {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 0;
}

.view-task__button svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.view-task__button rect {
    transition: fill 0.3s;
}

.view-task__button svg path {
    transition: fill 0.3s;
}

.view-task__button:hover {
    background-color: $color-white;
}

.view-task__button:hover rect {
    fill: $color-white;
}

.view-task__button:hover {
    background-color: $color-white;
}

.view-task__button:hover rect {
    fill: $color-white;
}

.view-task__button:hover svg path {
    fill: $color-primary;
}