@use 'variables' as *; 

.view-task {
    height: calc(100% - 20px);

    display: flex; /*!*/
    flex-direction: column; /*!*/
    flex-grow: 1; /*!*/
    gap: 20px; /*!*/

    border: 1px solid $color-border-main;
    margin: 0 90px 0px 30px; 
    padding: 16px 30px 30px 30px;

    border-radius: 10px;

    box-shadow: -4px 4px 4px $color-shadow, 4px 4px 4px $color-shadow;

    @media screen and (max-width: 1140px) {
        padding: 16px;
        margin: 0 30px;
  }
}

/* header view task */
.view-task__header {
    display: flex;
    gap: 20px;
}

.view-task__header-img {
    width: 210px;
    height: 216px;
    border-radius: 10px;

    @media screen and (max-width: 670px) {
        width: 100px;
        height: 100px;
    }

    @media screen and (max-width: 565px) {
        display: none;
    }
}

.view-task__meta {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.view-task__title {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    max-height: 130px;
    overflow-y: auto;
}

.view-task__priority,
.view-task__status {
    font-size: 12px;
    font-weight: 400;
}

.view-task__date {
    font-size: 10px;
    font-weight: 400;
    opacity: 0.8;
}

.view-task__back {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    white-space: nowrap;
   
    margin-left: auto;
    margin-bottom: auto;
}

.view-task__priority--extreme {
    color: $color-circle-not-started;
}

.view-task__priority--low {
    color: $color-circle-completed;
}

.view-task__status--not-started {
    color: $color-circle-not-started;
}

.view-task__status--in-progress {
    color: $color-moderate;
}

.view-task__priority--moderate {
    color: $color-moderate;
}

/* content view task */
.view-task__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 400;
    max-height: 450px;
    overflow-y: auto;
}

/* footer view task */
.view-task__actions {
    display: flex;
    gap: 12px;
    margin-top: auto;
    margin-left: auto;
}

.view-task__button {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 0;
}

.view-task__button svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.view-task__button rect {
    transition: fill 0.3s;
}

.view-task__button svg path {
    transition: fill 0.3s;
}

.view-task__button:hover {
    background-color: $color-white;
}

.view-task__button:hover rect {
    fill: $color-white;
}

.view-task__button:hover {
    background-color: $color-white;
}

.view-task__button:hover rect {
    fill: $color-white;
}

.view-task__button:hover svg path {
    fill: $color-primary;
}

/* scroll view-task */
.view-task__title::-webkit-scrollbar,
.view-task__content::-webkit-scrollbar {
    width: 6px;
}

.view-task__title::-webkit-scrollbar-thumb,
.view-task__content::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 10px;
}

.view-task__title::-webkit-scrollbar-track,
.view-task__content::-webkit-scrollbar-track {
    background: transparent;
}

/* modal view-task */
.view-task-modal {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 918px;
    max-width: 100%;
    border-radius: 5px;
    background-color: $color-white;
    padding: 40px 60px;

    @media screen and (max-width: 950px) {
        padding: 10px 18px;
        width: 570px;
    }

    @media screen and (max-width: 600px) {
        width: 100%;
    }
}

.view-task-modal__header {
    display: flex;
    justify-content: space-between;
}

.view-task-modal__title {
    font-size: 16px;
    font-weight: 600;
}

.view-task-modal__underline {
    height: 2px;
    width: 40px;
    background-color: $color-primary;
    border-radius: 4px;
    position: absolute;
    transform: translateY(1000%);
}

.view-task-modal__close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}

/* form view task */

.view-task-modal__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.view-task-form__border {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid $color-border-main;
    padding: 16px;
}

.view-task-form__title,
.view-task-form__date {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    font-weight: 600;
}

#view-task-form__title,
#view-task-form__date {
    max-width: 500px;
    height: 34px;
    border: 1px solid $color-border-main;
    border-radius: 6px;
    padding: 8px;
}

.view-task-form__priority {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.view-task-form__priority-label {
    font-size: 14px;
    font-weight: 600;
}

.view-task-form__priority-options {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 13px;
    font-weight: 400;
    opacity: .6;

    @media screen and (max-width: 950px) {
        justify-content: space-between;
        gap: 10px;
    }

    @media screen and (max-width: 420px) {
        flex-direction: column;
    }
}

.view-task-form__footer {
    display: flex;
    gap: 30px;

    @media screen and (max-width: 950px) {
        flex-direction: column;
    }
}

.view-task-form__description-container,
.view-task-form__upload-image {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    font-weight: 600;
}

.view-task-form_description {
    width: 500px;
    max-width: 550px;
    height: 200px;
    border: 1px solid $color-border-main;
    border-radius: 6px;
    padding: 8px;

    @media screen and (max-width: 580px) {
        width: 100%;
        min-width: 100%;
  }
}

.view-task-form_description::placeholder {
  font-size: 13px;
  font-weight: 400;
}

.view-task-form__custom-upload-button {
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 10px;
  background-color: $color-white;
  border: 1px solid $color-border-main;
  border-radius: 6px;
  padding: 14px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease;
}

.view-task-form__custom-upload-button:hover {
  background-color: $color-header;
}

.view-task-form__custom-upload-button input[type="file"] {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.view-task-form__custom-upload-button {
  height: 200px;
  width: 232px;

  @media screen and (max-width: 950px) {
    width: 100%;
  }
}

.view-task-form__submit {
  width: 90px;
  height: 34px;
  background-color: $color-primary;
  color: $color-white;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 6px;
}

.view-task-form__submit:hover {
  background-color: $color-white;
  color: $color-primary;
  border: 1px solid $color-primary;
}

/* edit task modal */

/* visibility */
.view-task-edit-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1001;
    overflow-y: auto;
}


.view-task-edit-modal.show {
  pointer-events: auto;
  opacity: 1;
}

.view-task-edit-modal__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 918px;
    max-width: 100%;
    border-radius: 5px;
    background-color: $color-white;
    padding: 40px 60px;

    @media screen and (max-width: 950px) {
        padding: 10px 18px;
        width: 570px;
    }

    @media screen and (max-width: 600px) {
        width: 100%;
    }
}

/* header modal */

.view-task-edit-modal__header {
    display: flex;
    justify-content: space-between;
}

.view-task-edit-modal__title {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.view-task-edit-modal__underline {
    height: 2px;
    width: 40px;
    background-color: $color-primary;
    border-radius: 4px;
    position: absolute;
    transform: translateY(1000%);
}

.view-task-edit-modal__back {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}


/* form */

.view-task-edit-modal__form {
    border: 1px solid $color-border-main;
    padding: 16px;
}

.view-task-edit-modal__meta {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.view-task-edit-modal__edit-title label,
.view-task-edit-modal__edit-date label,
.view-task-edit-modal__label {
    font-size: 14px;
    font-weight: 600;
}

.view-task-edit-modal__edit-title,
.view-task-edit-modal__edit-date {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.view-task-edit-modal__edit-title input,
.view-task-edit-modal__edit-date input{
    max-width: 500px;
    height: 34px;
    border: 1px solid $color-border-main;
    border-radius: 6px;
    padding: 8px;
}

/* edit priority */
.view-task-edit-modal__label {
    margin-bottom: 8px;
}

.view-task-edit-modal__edit-priority label {
    font-size: 13px;
    font-weight: 400;
    opacity: .8;
}

.view-task-edit-modal__priority-text {
    font-size: 13px;
    font-weight: 400;
}

/* modal description */

.view-task-edit-modal__details {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.view-task-edit-modal__description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    width: 100%;
}

.view-task-edit-modal__description label {
    font-size: 14px;
    font-weight: 600;
}

.view-task-edit-modal__description textarea {
    min-width: 500px;
    max-width: 500px;
    height: 200px;
    border: 1px solid $color-border-main;
    border-radius: 6px;
    padding: 8px;
}

/* modal upload image */
.view-task-edit-modal__title {
    font-size: 14px;
    font-weight: 600;
}

.view-task-edit-modal__image {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* button submit */
.view-task-edit-modal__submit {
    width: 90px;
    height: 34px;
    background-color: $color-primary;
    color: $color-white;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 6px;
    margin-left: auto;
    transition: background-color .3s;
}


.view-task-edit-modal__submit:hover {
    background-color: $color-white;
    color: $color-primary;
    border: 1px solid $color-primary;
    
}
