@use 'variables' as *;

.vital-task__content {
    display: flex;
    flex-grow: 1;
    height: 100%;
    margin: 0 90px 0 30px;
    padding-bottom: 16px;
    gap: 20px;

    @media screen and (max-width: 1140px) {
        margin: 0;
    }

    @media screen and (max-width: 870px) {
        flex-direction: column;
        align-items: center;
    }
}

.vital-task-list,
.vital-task-details {
    box-shadow: -4px 4px 4px $color-shadow, 4px 4px 4px $color-shadow;
}

/* vital task section */
.vital-task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    border: 1px solid $color-border-main;
    border-radius: 10px;
    padding: 20px 20px 0 20px;

    @media screen and (max-width: 870px) {
        width: 100%;
        padding: 20px;
    }
}

.vital-task-list__title {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
}

.vital-task-list__underline {
    height: 2px;
    width: 42px;
    background-color: $color-primary;
    border-radius: 4px;
    position: absolute;
    transform: translateY(1000%);
}

/* vital task details section */
.vital-task-details {
    width: 50%;
    padding: 20px;

    border: 1px solid $color-border-main;
    border-radius: 10px;

    display: flex;

    @media screen and (max-width: 870px) {
        width: 100%;
        flex-grow: 1;
    }
}