@use 'variables' as *; 

@use 'global';

@use 'hamMenu';
@use 'header';
@use 'nav';
@use 'sidebar';
@use 'overlay';

@use 'task.scss';
// pages
@use 'sign-in-page.scss';
@use 'sign-up-page.scss';
@use 'todo-page.scss';
@use 'account-info-page.scss';
@use 'change-psw-page.scss';
@use 'content';
@use 'modal-add-task';
@use 'invite-modal';
@use 'view-task.scss';
@use 'task-categories.scss';
@use 'create-categories.scss';
@use 'vital-task-page.scss';

